#head {
    position: relative;
    top: 0;
}

#game {
    position: relative;
}

#foot {
    position: relative;
}

.cell {
    display: flex;
    justify-content: center;
    align-content: center;
}
